<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Palm tree counting</title>
    
</head>
<body>
    <h1>Palm tree counting</h1>
    <form method="POST" action='/predict' enctype="multipart/form-data">
        <input type="file" accept="image/png, image/jpeg" name="img">
        <div id="img_container" style="width: 300px;height: 300px;margin: 50px auto;background-color: white;">
            {% if uploaded%}
                <img src="{{pth_img}}" width="300px" >
            {%endif%}
        </div>
        <input type="submit" value="Predict">    
    </form>
    {% if predict%}
        <p>{{prediction}}</p>
    {%endif%}
</body>
</html>